* {
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;

}

.right {
    display: none;
}

.logo {
    width: 40%;
    margin: 0 5px;
    filter: invert(100%);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #536b8b;
    height: 100px;
}

header h1 {
    width: 55%;
    padding: 5px 15px;
    margin: 0px;
    color: aliceblue;
    background-color: #5c7293;
    align-items: center;
}

.subtitle {
    background-color: #536b8b;
    color: white;
    font-weight: bold;
    border: solid 1px #536b8b;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

main {
    padding: 0px 15px;
}

.formulario {
    border: solid 1px #536b8b;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: #536b8b;
    color: aliceblue;
}

.input-container label {
    padding: 5px; 
    font-weight: bold;
}

.input-container input, textarea {
    padding: 5px;
    color: black;
}

.btn-form {
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #5c7293;
    font-size: 18px;
}


/* 
#536b8b
#5c7293
#318ce7 
*/


.modal {
  display: none; /* oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
}

.modal-buttons {
    display: flex;
    justify-content: end;
}

#solveSend, #solveCancel {
    background: #5c7293;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 0 0 0 5px;
}

#solveCancel {
    background: #d9534f; /* rojo */
    color: white;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
  margin: auto;
  position: relative;
}
.modal-content .icon {
  font-size: 48px;
  color: green;
  margin-bottom: 10px;
}
.modal-content h2 {
  margin: 0 0 10px;
}
.modal-content p {
  margin: 0 0 20px;
  color: #555;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.a-report {
    text-decoration: none;
}


.btn-report {
    background-color: #536b8b;
    color: white;
    font-weight: bold;
    border: solid 1px #536b8b;
    margin: 15px 0px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    width: 100%;
}

.report-list {
    background-color: #fff;
    border: solid 1px #536b8b;
    border-radius: 10px;
    padding: 5px;
    padding-top: 0px;
    margin-bottom: 15px;
    display: block;
}

.s-b {
    margin: 5px 0px;
    border-radius: 10px 10px 0px 0px;
    text-align: end;
}

.report-table {
    width: 100%;
    font-size: 14px;
}

.report-table thead {
    background-color: #536b8b;
    color: white;
}

.report-table th, .report-table td {
    border: solid 1px #536b8b;
}

.refresh-btn {
    background: transparent;
    color: white;
    border: none;
    font-size: 18px;
    margin-left: 25px;
}

.refresh-btn:focus {
  transform: rotate(-720deg);
  transition: transform 3s ease;
}

.logOut-container {
    display: flex;
    background-color: #536b8b;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.btn-logOut {
    width: 90%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: transparent;
}